<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
		
   <extension
         id="cdl2bpel"
         name="cdl2bpel product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.xjtu.cdl2bpel.application.cdl2bpel"
            name="cdl2bpel">
         <property
               name="appName"
               value="cdl2bpel">
         </property>
      </product>
   </extension>
   <extension
         id="edu.xjtu.cdl2bpel.application.cdl2bpel"
         name="cdl2bpel application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.xjtu.cdl2bpel.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Open CDL File"
            id="edu.xjtu.cdl2bpel.actionSets.fileOperation"
            label="File Open"
            visible="true">
         <menu
               id="edu.xjtu.cdl2bpel.fileMenu"
               label="Operation"
               path="fileOperation">
         </menu>
         <action
               class="edu.xjtu.cdl2bpel.application.actions.OpenFileAction"
               icon="icons/open.gif"
               id="edu.xjtu.cdl2bpel.actions.openFile"
               label="Open"
               menubarPath="edu.xjtu.cdl2bpel.fileMenu/open"
               style="push">
         </action>
         <action
               class="edu.xjtu.cdl2bpel.application.actions.NewFileAction"
               icon="icons/newframe_wiz.gif"
               id="edu.xjtu.cdl2bpel.actions.newFile"
               label="New"
               menubarPath="edu.xjtu.cdl2bpel.fileMenu/new"
               style="push">
         </action>
         <action
               class="edu.xjtu.cdl2bpel.application.actions.SaveFileAction"
               id="edu.xjtu.cdl2bpel.actions.saveFile"
               label="Save"
               menubarPath="edu.xjtu.cdl2bpel.fileMenu/save"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.xjtu.cdl2bpel.application.ApplicationPerspective"
            id="edu.xjtu.cdl2bpel.perspective"
            name="CDL2BPEL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.xjtu.cdl2bpel.editors.simple.SimpleFormEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            icon="icons/file_obj.gif"
            id="edu.xjtu.cdl2bpel.editors.simpleEditor"
            name="Simple Editor">
      </editor>
      <editor
            class="edu.xjtu.cdl2bpel.editors.xml.XMLFormEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="bpel,wsdl,xml"
            icon="icons/file_obj.gif"
            id="edu.xjtu.cdl2bpel.editors.xml"
            name="XML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.xjtu.cdl2bpel.application.fileExplorer.views.FileExplorer"
            icon="icons/e_synch_toc_nav.gif"
            id="edu.xjtu.cdl2bpel.ui.explorer"
            name="Explorer View"
            restorable="true">
      </view>
      <category
            id="edu.xjtu.cdl2bpel.ui.cdl2bpel"
            name="CDL2BPEL">
      </category>
      <view
            allowMultiple="false"
            class="edu.xjtu.cdl2bpel.application.fileExplorer.views.FileExplorer"
            id="edu.xjtu.cdl2bpel.ui.treeViewer"
            name="FileExplorer"
            restorable="true">
      </view>
      <view
            class="edu.xjtu.cdl2bpel.application.mapping.views.MappingView"
            icon="icons/e_synch_toc_nav.gif"
            id="edu.xjtu.cdl2bpel.application.mapping.views.MappingView"
            name="Mapping View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="edu.xjtu.cdl2bpel.fileExplorer.viewContribution"
            targetID="edu.xjtu.cdl2bpel.ui.treeViewer">
         <action
               class="edu.xjtu.cdl2bpel.application.fileExplorer.views.FileExplorerViewerActionNewFile"
               id="edu.xjtu.cdl2bpel.actions.newCDLFile"
               label="NewCDLFile"
               menubarPath="edu.xjtu.cdl2bpel.menu.fileExplorerViewMenu/newCDLFile"
               style="push"
               toolbarPath="lpw">
         </action>
         <action
               class="edu.xjtu.cdl2bpel.application.fileExplorer.views.FileExplorerViewerActionNewFolder"
               id="edu.xjtu.cdl2bpel.actions.newFolder"
               label="NewFolder"
               menubarPath="edu.xjtu.cdl2bpel.menu.fileExplorerViewMenu/newFolder"
               style="push"
               toolbarPath="lpw">
         </action>
         <menu
               id="edu.xjtu.cdl2bpel.menu.fileExplorerViewMenu"
               label="viewMenu"
               path="lpw">
            <separator
                  name="newCDLFile">
            </separator>
            <separator
                  name="newFolder">
            </separator>
         </menu>
      </viewContribution>
   </extension>
</plugin>
