<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="edu.xjtu.cdl2bpel.generator.common.ChoreographyPropertyPage"
            class="edu.xjtu.cdl2bpel.generator.eclipse.properties.CDL2BPELGeneratePropertyPage"
            id="edu.xjtu.cdl2bpel.generator.eclipse.properties.CDL2BPELGeneratePropertyPage"
            name="CDL2BPEL"
            nameFilter="*.cdl"
            objectClass="org.eclipse.core.resources.IFile">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="edu.xjtu.cdl2bpel.generator.objectContribution"
            nameFilter="*.cdl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="edu.xjtu.cdl2bpel.generator.menu"
               label="CDL2BPEL"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="edu.xjtu.cdl2bpel.generator.eclipse.CDL2BPELGenerateAction"
               enablesFor="1"
               id="edu.xjtu.cdl2bpel.generator.action"
               label="GenBPELAndWSDL"
               menubarPath="edu.xjtu.cdl2bpel.generator.menu/mapping2BPEL_WSDL/group2">
         </action>
         <menu
               id="mapping2BPEL_WSDL"
               label="Mapping2BPEL_WSDL"
               path="edu.xjtu.cdl2bpel.generator.menu/additions">
            <separator
                  name="group2">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.xjtu.cdl2bpel.generator"
            name="property">
      </category>
      <view
            class="edu.xjtu.cdl2bpel.mapping.view.CDL2BPELMappingViewer"
            id="edu.xjtu.cdl2bpel.generator.viewer"
            name="mappingViewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="edu.xjtu.cdl2bpel.generator.properties">
         <propertySection
               class="edu.xjtu.cdl2bpel.mapping.view.CDL2BPELMappingParameterPropertySection"
               id="edu.xjtu.cdl2bpel"
               tab="edu.xjtu.cdl2bpel.generator.properties.cdl2bpel">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.xjtu.cdl2bpel.mapping.view.CDL2BPELMappingFormEditor"
            default="false"
            extensions="cdl"
            id="edu.xjtu.cdl2bpel.generator.mapping"
            name="CDL2BPEL Mapping">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.xjtu.cdl2bpel.mapping.view.MappingPerspective"
            id="edu.xjtu.cdl2bpel.generator.perspective1"
            name="Mapping">
      </perspective>
   </extension>

</plugin>
